<div class="span9">

	<div class="span12 mainColumn" id="mainColumn">
		<div class="pView">
			<% @note.paragraphs.each_with_index do |e, i| %>
			<div class="row-fluid">
				<div class="span1 dateMark">
					<% if i == 0 || 
						(e.timestamp.min % 5 == 0 && @note.paragraphs[i - 1].timestamp.min != e.timestamp.min) ||
						(@note.paragraphs[i - 1].timestamp.min - e.timestamp.min).abs > 5  %>
						<%= e.timestamp.strftime "%H:%M" %>
					<% end %>
				</div>
				<div class="span11 pText">
					<%= e.text %>
				</div>
			</div>
			<% end %>
		</div>
		<div class="row-fluid">
			<div class="taContainer span8 fixedBottom">
				<textarea id="textbox"class="noresize span12"></textarea>
			</div>
		</div>
	</div>
</div>

<div class="span3">
	<div id="sidebar-documents-viewer" class="sidebar-scrollable">

	</div>
</div>

<script>
	var noteId = "<%= @note.id %>";
	<% if @note.lecture.docs.first %>
		$(function(){
			var docView = DocumentViewer($("#sidebar-documents-viewer"));
			docView.loadPdf("<%= @note.lecture.docs.first.url %>");
		});
	<% end %>
</script>
