<div class="offset1 span10">
	<div class="pView">
			<% @note.paragraphs.each do |e| %>
			<div class="row-fluid">
				<div class="span1 dateMark">
					<%= e.timestamp.strftime "%H:%M" %>
				</div>
				<div class="span11 pText">
					<%= e.text %>
				</div>
			</div>
			<% end %>
		</div>
</div>
