<div class="row">
	<div class="container">
		    <div class="hero-unit" style="margin-top: 40px;">
		    	<h1>Welcome to NoteSync</h1>
		    	<p>To start create or join a lecture and type in some notes</p>
		    	<p>
		    		<a class="btn btn-success btn-large" href="<%= lecture_create_path() %>">
		    			Create Lecture
		    		</a>
		    	</p>
		    </div>
	</div>
</div>
