<div class="span9">

	<div class="span10 mainColumn" id="mainColumn">
		<div class="pView">
			
		</div>
		<div class="row-fluid">
			<div class="taContainer span8 fixedBottom">
				<textarea id="textbox"class="noresize span12"></textarea>
			</div>
		</div>
	</div>
</div>

<div class="span3">
	dawdawod
</div>
